beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
comtypes==1.1.8
idna==2.10
pyjokes==0.6.0
PyJWT==2.0.0
pypiwin32==223
pyttsx3==2.90
pytz==2020.5
pywin32==300
requests==2.25.1
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
twilio==6.50.1
urllib3==1.26.2
wikipedia==1.4.0
winshell==0.6
